html{
  background: rgb(226, 238, 206);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-bottom: solid 1px black;
  padding: 10px;
}

textarea {
  height: 520px !important;
}

.container__body {
  border: solid 0px black;
  border-radius: 2%;
  width: 90%;
  height: 90%;
  background: rgb(223, 231, 222);
}

.header__button {
  margin-left: 870px;
}

.container__body__principal {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__body__principal__input {
  width: 20%;
  height: 100%;
}

.container__body__principal__card {
  width: 20%;
  height: 100%;
  padding: 15px;
  background: rgb(206, 238, 232);
}

.container__body__principal__center__first-container {
  display: flex;
  justify-content: space-between;
}

.container__body__principal__center,
.container__body__principal__buses {
  height: 100%;
  width: 25%;
}

.PC,
.MAR {
  height: 20px;
  width: 20px;
  border: solid 0px black;
  border-radius: 5%;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  background: rgb(226, 238, 206);
}

.container__body__principal__buses {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.bus_name {
  width: 60px;
}

.directions,
.data,
.control {
  height: 92%;
  border: solid 1px black;
  width: 60px;
  margin: 5px;
}

.container__body__principal__center__UC,
.container__body__principal__center__ALU,
.container__body__principal__center__MBR,
.container__body__principal__center__IR {
  flex: 1;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background: rgb(226, 238, 206);
}

.main__memory__register {
  height: 80%;
  border: 1px solid black;
  margin: 3px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container__body__principal__left__AG {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.container__body__principal__center__down {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.elemento__procesador__activo {
  border: 2px solid #4978EC;
  box-shadow: 0px 0px 11px 0px #4978EC;
}

/*
  Tooltip
*/
.tooltip-uc {
  position: relative;
}

.tooltip-uc::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.tooltip-uc:hover::after {
  content: "Unidad de control";
  opacity: 1;
}

.tooltip-alu {
  position: relative;
}

.tooltip-alu::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.tooltip-alu:hover::after {
  content: "Unidad aritmética lógica";
  opacity: 1;
}

.tooltip-mbr {
  position: relative;
}

.tooltip-mbr::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.tooltip-mbr:hover::after {
  content: "Registro buffer de memoria";
  opacity: 1;
}

.tooltip-ir {
  position: relative;
}

.tooltip-ir::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.tooltip-ir:hover::after {
  content: "Registro de instrucción";
  opacity: 1;
}
